<h6>Dashboard</h6>
<h3>Welcome, {{name}}</h3>
<p>Here are your goals ya fat loser!</p>
{{#if goals}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each goals}}
            <tr>
                <td><a href="/goals/{{_id}}">{{title}}</a></td>
                <td>{{createdAt}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have no goals, loser!</p>
{{/if}}