<h6>Dashboard</h6>
<h3>Welcome, {{name}}</h3>
<p>Here are your goals!</p>
{{#if goals}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Start Date</th>
                <th>Target Date</th>
                <th>Category</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each goals}}
                <tr>
                    <td><a href="/goals/{{_id}}">{{title}}</a></td>
                    <td>{{date}}</td>
                    <td>{{targetDate}}</td>
                    <td><span class="dash-status">{{category}}</span></td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td>
                        <div class="action-buttons">
                            <a href="/goals/edit/{{_id}}" class="btn btn-float">
                                <i class="fas fa-edit"></i>
                            </a>
                            <button
                                class="btn red modal-trigger"
                                data-target="delete-modal-{{_id}}"
                            >
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                        <div
                            id="delete-modal-{{_id}}"
                            class="modal rounded-modal"
                        >
                            <div class="modal-content">
                                <h4>Delete Goal Confirmation</h4>
                                <p>Are you sure you want to delete this goal?</p>
                            </div>
                            <div class="modal-footer">
                                <form
                                    action="/goals/delete/{{_id}}"
                                    method="POST"
                                    id="delete-form"
                                >
                                    <input
                                        type="hidden"
                                        name="_method"
                                        value="DELETE"
                                    />
                                    <button
                                        type="submit"
                                        class="modal-close waves-effect waves-green btn-flat"
                                    >Yes, delete it</button>
                                </form>
                                <button
                                    type="button"
                                    class="modal-close waves-effect waves-red btn-flat"
                                >Cancel</button>
                            </div>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have no goals, add some by clicking the big button on the bottom right of the screen!!</p>
{{/if}}
