<h1>Your Achievements</h1>
<div class="row">
    {{#each goals}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{!-- todo: editicon --}}
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p>{{stripTags (truncate body 150)}}</p>
                <br>
                <div class="">
                    <img src="{{user.image}}" alt="">
                    <a>Well Done! This goal is COMPLETE!</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/goals/{{_id}}" class="btn grey">More Details</a>
            </div>
        </div>
    </div>
    </div>
    {{else}}
    <p>You have not completed any goals! Add some by pressing the big red button on the bottom right!</p>
    {{/each}}
</div>